* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #15021e;
}
@import 'header';
@import 'body';